{
  "image_configuration": {
    "dither_algorithm": "2",
    "alpha_dither": "yes",
    "layout_rotation": "0",
    "opaque_image_format": "RGB565",
    "nonopaque_image_format": "ARGB8888",
    "l8_compression": "no",
    "section": "ExtFlashSection",
    "extra_section": "ExtFlashSection",
    "images": {
      "arrow.png": {
        "section": "ExtFlashSection"
      },
      "Main.png": {
        "section": "ExtFlashSection"
      },
      "bg.png": {
        "section": "ExtFlashSection"
      },
      "purple.png": {
        "section": "ExtFlashSection"
      },
      "brown.png": {
        "section": "ExtFlashSection"
      },
      "Intro.png": {
        "section": "ExtFlashSection"
      },
      "yellow.png": {
        "section": "ExtFlashSection"
      },
      "green.png": {
        "section": "ExtFlashSection"
      },
      "new gun.png": {
        "section": "ExtFlashSection"
      },
      "Ingame.png": {
        "section": "ExtFlashSection"
      },
      "midnight.png": {
        "section": "ExtFlashSection"
      },
      "Stage.png": {
        "section": "ExtFlashSection"
      },
      "red.png": {
        "section": "ExtFlashSection"
      },
      "black.png": {
        "section": "ExtFlashSection"
      },
      "bush2.png": {
        "section": "ExtFlashSection"
      }
    },
    "rgb_compression": "no"
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "16",
    "font_format": "0",
    "cache_size": 4096,
    "copy_translations_to_ram": "no"
  }
}